/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    border-radius: 7px;
    color: #fff;
    background: none;
    font-family: Consolas,Menlo,Monaco,source-code-pro,Courier New,monospace;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    margin-bottom: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background:rgb(73, 72, 62);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: rgb(248, 248, 242);
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: rgb(230, 219, 116);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: rgb(230, 219, 116);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}
.token.keyword, .token.tag {
    color: rgb(102, 217, 239);
}

.token.operator {
    color: rgb(249, 38, 114);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: rgb(102, 217, 239);
}

.token.function {
    color: rgb(166, 226, 46);
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
.token.class-name {
    color: rgb(166, 226, 46);
}
:not(pre)>code[class*=language-] {
    font-size: 0.875rem;
    line-height: 1.8571;
    background-color: rgb(232, 232, 232);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 209, 213);
    border-image: initial;
    border-radius: 4px;
    margin: 0px 2px;
    padding: 0px 5px;
}
.token.boolean {
    color: #ff5874;
}